/* Content */
section {
	width: 100%;
	height-min: 100%;
	height: auto;
}

/* Banner */
section img {
	display: block;
	margin: auto;
	height: auto;
	width: 70%;
	margin-top: 50px;
	border-radius: 10px;
}

/* Title */
section h2 {
	font-size: 30px;
	font-family: 'Mukta', sans-serif;
	text-align: center;
}

/* Text */
section div {
	width: 70%;
	height: auto;
	border: 1px solid #090909;
	margin: auto;
	margin-top: 10px;
}

section div p {
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: justify;
	word-wrap: break-word;
	text-indent: 30px;
}