/* Content */
section {
	width: 100%;
	height-min: 100%;
	height: auto;
}

/* Projects Styling */
section h3 {
	font-size: 30px;
	font-family: 'Fredoka', sans-serif;
	text-align: center;
	margin-top: 20px;
}

section .project {
	border: 1px solid #ffffff;
	border-radius: 10px;
	width: 80%;
	height: 200px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow-x: scroll;
    overflow-y: hidden;
	white-space: nowrap
}

section .project a img {
	width: 200px;
	height: 200px;
	padding: 20px;
	transition: all .2s ease-in-out;
	display: inline;
}

section .project a img:hover {
	transform: scale(1.1);
}