/* IMPORTS */

@import url(https://kurou-kun.github.io/share/discord/ashuramaru%20theme/ashuramaru-base.css);	/* BASE */
@import url(https://kurou-kun.github.io/share/discord/ashuramaru%20theme/ashuramaru-modal-layout.css);	/* USER MODAL LAYOUT */
@import url(https://kurou-kun.github.io/share/discord/ashuramaru%20theme/ashuramaru-bd.css);	/* BD ONLY FEATURES */

/* CONFIG */

:root {
	--background-image: url(https://wallpaperaccess.com/full/6537378.png);
	
	--background-image-blur: 3px;
	
	--serverlist-brightness: 0.7;
	--left-brightness: 0.4;
	--middle-brightness: 0.4;
	--right-brightness: 0.4;
	--popout-modal-brightness: 0.75;
	--tint: rgba(var(--tint-colour), var(--tint-brightness));
	
	--user-modal-image: var(--background-image);
	--user-popout-image: var(--background-image);
	
	--home-icon: url(https://icon-library.com/images/discord-transparent-server-icon/discord-transparent-server-icon-10.jpg);
	
	--background-attachment: fixed;
	--user-modal-attachment: var(--background-attachment);
	--user-popout-attachment: var(--background-attachment);
	
	--primary-color: #FF0000;
	--secondary-color: #F00000;
	--hover-color: #b00404;
	--tooltip-color: #000000;
	
	--green-color: #FF0000;
	--yellow-color: #f9a719;
	--red-color: #ec4144;
	--link-color: #FF0000;
	--live-color:  #583594;
	--offline-color: #737e8c;
	
	--mention-background: var(--primary-color);
	--mention-opacity: 0.1;
	
	--code-font: Monaco, Consolas, Courier, monospace;
	--body-font: Whitney, Helvetica Neue, Helvetica, sans-serif;
	
	--user-modal-width: 900px;
	--user-modal-height: 600px;
	
	--gradient: to bottom right, var(--primary-color);
	
	--hide-member-list: 1;
	--hide-active-now: 1;
	
	--win-min-max-close-button-width: 28px;
	
	--channel-tabs-enabled: 0;
	
	--update-notice-0: none;
}

/* BACKGROUND BLUR*/
#app-mount .layers-OrUESM:before {
  content: "";
  background: var(--background-image);
  background-position: var(--background-image-position, center);
  background-size: var(--background-image-size, cover);
  background-repeat: var(--background-image-repeat, no-repeat);
  height: calc(100vh + var(--background-image-blur) * 2);
  width: calc(100vw + var(--background-image-blur) * 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  filter: blur(var(--background-image-blur));
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#app-mount [role=menu],
#app-mount .autocompleteInner-y1mjDl,
#app-mount .container-2McqkF,
#app-mount .container-enaOkj,
#app-mount .container-8Futzw,
#app-mount .contextMenu-HLZMGh:not(.scroller-2FKFPG),
#app-mount .emojiPicker-6YCk8a,
#app-mount .messagesPopoutWrap-1MQ1bW,
#app-mount .modal-2RrUKJ:not(.slide-2pHaq5),
#app-mount .root-1gCeng:not(.fullscreenOnMobile-1bD22y),
#app-mount .root-8LYsGj,
#app-mount .subMenuContext-2n_9YM .scrollerWrap-2lJEkd,
#app-mount [class*=userPopout][aria-modal=true],
#app-mount section.positionContainer-3unAXC .drawerSizingWrapper-27qFHb,
#app-mount .quickswitcher-pKcM9U,
#app-mount .root-1gCeng.wrapper-2ZbzR9,
#app-mount .modalRoot-1Kx4Hb,
#app-mount .container-3JTnYm.thin-1ybCId.scrollerBase-_bVAAt,
#app-mount .popoutContainer-2wbmiM,
#app-mount .root-1gCeng:not(.modal-3Crloo),
#app-mount .container-2O1UgZ,
#app-mount .container-18GwIk,
#app-mount .popout-TdhJ6Z {
  overflow: hidden !important;
  position: relative;
  border-radius: 3px;
}

/* BRIGHTNESS */
#app-mount [role=menu]:before,
#app-mount .autocompleteInner-y1mjDl:before,
#app-mount .container-2McqkF:before,
#app-mount .container-enaOkj:before,
#app-mount .container-8Futzw:before,
#app-mount .contextMenu-HLZMGh:not(.scroller-2FKFPG):before,
#app-mount .emojiPicker-6YCk8a:before,
#app-mount .messagesPopoutWrap-1MQ1bW:before,
#app-mount .modal-2RrUKJ:not(.slide-2pHaq5):before,
#app-mount .root-1gCeng:not(.fullscreenOnMobile-1bD22y):before,
#app-mount .root-8LYsGj:before,
#app-mount .subMenuContext-2n_9YM .scrollerWrap-2lJEkd:before,
#app-mount [class*=userPopout][aria-modal=true]:before,
#app-mount section.positionContainer-3unAXC .drawerSizingWrapper-27qFHb:before,
#app-mount .quickswitcher-pKcM9U:before,
#app-mount .root-1gCeng.wrapper-2ZbzR9:before,
#app-mount .modalRoot-1Kx4Hb:before,
#app-mount .container-3JTnYm.thin-1ybCId.scrollerBase-_bVAAt:before,
#app-mount .popoutContainer-2wbmiM:before,
#app-mount .root-1gCeng:not(.modal-3Crloo):before,
#app-mount .container-2O1UgZ:before,
#app-mount .container-18GwIk:before,
#app-mount .popout-TdhJ6Z:before {
  content: "";
  background: linear-gradient(var(--tint), var(--tint)), var(--popout-modal-image);
  background-position: var(--popout-modal-position, center);
  background-size: var(--popout-modal-size, cover);
  background-attachment: var(--popout-modal-attachment, fixed);
  background-repeat: var(--popout-modal-repeat, no-repeat);
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--popout-modal-brightness));
  height: calc(100% + var(--popout-modal-blur) * 5);
  width: calc(100% + var(--popout-modal-blur) * 5);
  top: calc(var(--popout-modal-blur) / -1 * 2.5);
  left: calc(var(--popout-modal-blur) / -1 * 2.5);
  position: absolute;
  filter: blur(var(--popout-modal-blur));
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

/* POPUP BLUR */
app-mount .popout-TdhJ6Z:before {
  content: "";
  background: linear-gradient(var(--tint), var(--tint)), var(--popout-modal-image);
  background-position: var(--popout-modal-position, center);
  background-size: var(--popout-modal-size, cover);
  background-attachment: var(--popout-modal-attachment, fixed);
  background-repeat: var(--popout-modal-repeat, no-repeat);
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, var(--popout-modal-brightness));
  height: calc(100% + var(--popout-modal-blur) * 5);
  width: calc(100% + var(--popout-modal-blur) * 5);
  top: calc(var(--popout-modal-blur) / -1 * 2.5);
  left: calc(var(--popout-modal-blur) / -1 * 2.5);
  position: absolute;
  filter: blur(var(--popout-modal-blur));
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

/* SCROLLBAR */
#app-mount .guilds-2JjMmN {
  background-color: transparent;
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
  background-color: rgba(0, 0, 0, var(--serverlist-brightness));
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt::-webkit-scrollbar {
  display: none;
}

#app-mount [aria-label*=SETTINGS] .sidebarRegionScroller-FXiQOh {
  background-color: rgba(0, 0, 0, var(--left-brightness));
}

/* SIDEBAR */
#app-mount .sidebar-1tnWFu {
  border-radius: 0;
  background: rgba(0, 0, 0, var(--left-brightness));
}

#app-mount .sidebar-1tnWFu .container-1NXEtd,
#app-mount .sidebar-1tnWFu .privateChannels-oVe7HL,
#app-mount .sidebar-1tnWFu .scroller-WSmht3 {
  background-color: transparent;
}

#app-mount .sidebar-1tnWFu [role=list] > div[style="width: 100%; height: 84px; visibility: hidden;"] {
  height: 120px !important;
}

/* MESSAGES */
#app-mount .chat-2ZfjoI {
  background: rgba(0, 0, 0, var(--middle-brightness));
}

#app-mount .messages-3amgkR {
  background-color: transparent;
  text-shadow: 0 2px 5px rgba(0, 0, 0, var(--text-shadow));
}

#app-mount .newMessagesBar-1hF-9G {
  background: var(--gradient);
  opacity: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* THREAD SIDEBAR */
#app-mount .threadSidebar-1o3BTy {
  background: rgb(0, 0, 0, var(--middle-brightness));
}

/* UPLOAD BRIGHTNESS / BLUR */
#app-mount .uploadModal-2ifh8j:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: rgba(0, 0, 0, var(--popout-modal-brightness));
  box-shadow: var(--tint);
  z-index: 1;
  -webkit-backdrop-filter: blur(var(--popout-modal-blur));
          backdrop-filter: blur(var(--popout-modal-blur));
}

/* MIDDLE BRIGHTNESS */
#app-mount .container-36u7Lw {
  background: rgba(0, 0, 0, var(--middle-brightness));
}

#app-mount .applicationStore-2nk7Lo {
  background: rgba(0, 0, 0, var(--middle-brightness));
}

#app-mount .contentRegion-3HkfJJ {
  background: rgba(0, 0, 0, var(--middle-brightness));
}

/* RIGHT BRIGHTNESS */
#app-mount .container-2cd8Mz .nowPlayingColumn-1eCBCN {
  background: rgba(0, 0, 0, var(--right-brightness));
}

/* HEADER */
#app-mount .header-2o-2hj {
  background: transparent;
  box-shadow: none;
}

/* CHANNEL CATEGORY */
.containerDefault-3tr_sE, .containerDragAfter-Zk9oyx, .containerDragBefore-1YqewQ, .containerUserOver-98-yc7 {
  padding-top: 16px;
}

.wrapper-PY0fhH {
  padding-left: 10px;
  padding-right: 0;
  transition: all 0.3s ease-in-out;
}

.icon-2yIBmh {
  display: none;
}

.name-3l27Hl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.name-3l27Hl:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to left, var(--main-color) 50%, transparent);
  margin-right: 5px;
}
.name-3l27Hl:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, var(--main-color) 50%, transparent);
  margin-left: 5px;
}
.mainContent-2h-GEV:hover .name-3l27Hl {
  opacity: 1;
}

.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragAfter-Zk9oyx .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragBefore-1YqewQ .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerUserOver-98-yc7 .wrapper-PY0fhH .name-3l27Hl {
  color: var(--main-color);
}

.children-L002ao {
  margin-left: 3px;
}

.collapsed-2-tg8y .name-3l27Hl:before, .collapsed-2-tg8y .name-3l27Hl:after {
  flex-grow: 0;
}

.muted-2JBAyG {
  opacity: 0.5;
}

.addButtonIcon-2CbG1X {
  color: var(--main-color);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.addButtonIcon-2CbG1X:hover {
  color: var(--main-color);
  opacity: 1;
}

/* CHANNEL UNREAD */
.wrapper-2jXpOf:hover .content-1x5b-n:before {
  background: rgba(255, 255, 255, 0.1);
}
.containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: rgba(255, 255, 255, 0.7);
}
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--channel-unread);
  text-shadow: 0 0 3px;
}
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
  color: var(--channel-unread);
  filter: drop-shadow(0 0 3px);
  opacity: 1;
}
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .actionIcon-PgcMM2 {
  opacity: 0.7;
}
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .actionIcon-PgcMM2:hover {
  opacity: 1;
}
.wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--main-color);
  text-shadow: 0 0 3px;
}
.wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
  color: var(--main-color);
  filter: drop-shadow(0 0 3px);
}

.containerDefault--pIXnN .wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.containerDefault--pIXnN .wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--channel-color);
}

.unread-2lAfLh {
  display: none;
}

/* VOICE CHANGE */
.voiceUser-1K6Xox {
  z-index: 1;
}
.voiceUser-1K6Xox .content-3xS9Lh {
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
.voiceUser-1K6Xox .avatarContainer-28iYmV {
  position: relative;
  transition: all 0.1s ease-in-out;
}
.voiceUser-1K6Xox .avatarContainer-28iYmV:after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--main-color) 10%, transparent);
  opacity: 0.5;
  transition: all 0.1s ease-in-out, width 0.15s ease-in-out;
  pointer-events: none;
  z-index: -1;
  border-radius: 999px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.voiceUser-1K6Xox .avatarSpeaking-2IGMRN {
  box-shadow: 0 0 0 2px var(--main-color), inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.voiceUser-1K6Xox .avatarSpeaking-2IGMRN:after {
  top: -2px;
  bottom: -2px;
  width: 150px;
}
.voiceUser-1K6Xox .username-3KYl0N {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}
.voiceUser-1K6Xox .usernameSpeaking-RmltQx {
  color: #fff !important;
}

.audienceVoiceUserIconContainer-29oflP {
  background-color: var(--main-color);
  color: #fff;
}
}

/* DARK MODE */

.theme-dark,
.theme-dark :not(.previewContainer-1xQAsw) .theme-light {
  --card-background: rgba(0,0,0,0.5);
  --side-shading: rgba(0,0,0,0.5);
  --middle-shading: rgba(0,0,0,0.3);
  --header-shading: rgba(0,0,0,0.7);
}

/* LIGHT MODE */

.theme-light,
.theme-light :not(.previewContainer-1xQAsw) .theme-dark:not(.sidebar-1tnWFu):not(.guilds-2JjMmN):not(.sidebarRegion-1VBisG) {
  --card-background: rgba(255,255,255,0.05);
  --side-shading: rgba(255,255,255,0.4);
  --middle-shading: rgba(255,255,255,0.3);
  --header-shading: rgba(255,255,255,0.5);
}