/* CHANNEL CATEGORY */
.containerDefault-3tr_sE, .containerDragAfter-Zk9oyx, .containerDragBefore-1YqewQ, .containerUserOver-98-yc7 {
  padding-top: 16px;
}

.wrapper-PY0fhH {
  padding-left: 10px;
  padding-right: 0;
  transition: all 0.3s ease-in-out;
}

.icon-2yIBmh {
  display: none;
}

.name-3l27Hl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.name-3l27Hl:before {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to left, var(--main-color) 50%, transparent);
  margin-right: 5px;
}
.name-3l27Hl:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, var(--main-color) 50%, transparent);
  margin-left: 5px;
}
.mainContent-2h-GEV:hover .name-3l27Hl {
  opacity: 1;
}

.sidebar-2K8pFh .containerDefault-3tr_sE .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragAfter-Zk9oyx .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerDragBefore-1YqewQ .wrapper-PY0fhH .name-3l27Hl, .sidebar-2K8pFh .containerUserOver-98-yc7 .wrapper-PY0fhH .name-3l27Hl {
  color: var(--main-color);
}

.children-L002ao {
  margin-left: 3px;
}

.collapsed-2-tg8y .name-3l27Hl:before, .collapsed-2-tg8y .name-3l27Hl:after {
  flex-grow: 0;
}

.muted-2JBAyG {
  opacity: 0.5;
}

.addButtonIcon-2CbG1X {
  color: var(--main-color);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.addButtonIcon-2CbG1X:hover {
  color: var(--main-color);
  opacity: 1;
}

/* CHANNEL UNREAD */
.wrapper-2jXpOf:hover .content-1x5b-n:before {
  background: rgba(255, 255, 255, 0.1);
}
.containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.containerDefault--pIXnN .wrapper-2jXpOf:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: rgba(255, 255, 255, 0.7);
}
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--channel-unread);
  text-shadow: 0 0 3px;
}
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
  color: var(--channel-unread);
  filter: drop-shadow(0 0 3px);
  opacity: 1;
}
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .actionIcon-PgcMM2 {
  opacity: 0.7;
}
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .actionIcon-PgcMM2:hover {
  opacity: 1;
}
.wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--main-color);
  text-shadow: 0 0 3px;
}
.wrapper-2jXpOf.modeConnected-3IsKId .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
  color: var(--main-color);
  filter: drop-shadow(0 0 3px);
}

.containerDefault--pIXnN .wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.containerDefault--pIXnN .wrapper-2jXpOf.modeMuted-onO3r-:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--channel-color);
}

.unread-2lAfLh {
  display: none;
}

.voiceUser-1K6Xox {
  z-index: 1;
}
.voiceUser-1K6Xox .content-3xS9Lh {
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
.voiceUser-1K6Xox .avatarContainer-28iYmV {
  position: relative;
  transition: all 0.1s ease-in-out;
}
.voiceUser-1K6Xox .avatarContainer-28iYmV:after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, var(--main-color) 10%, transparent);
  opacity: 0.5;
  transition: all 0.1s ease-in-out, width 0.15s ease-in-out;
  pointer-events: none;
  z-index: -1;
  border-radius: 999px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.voiceUser-1K6Xox .avatarSpeaking-2IGMRN {
  box-shadow: 0 0 0 2px var(--main-color), inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.voiceUser-1K6Xox .avatarSpeaking-2IGMRN:after {
  top: -2px;
  bottom: -2px;
  width: 150px;
}
.voiceUser-1K6Xox .username-3KYl0N {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}
.voiceUser-1K6Xox .usernameSpeaking-RmltQx {
  color: #fff !important;
}

.audienceVoiceUserIconContainer-29oflP {
  background-color: var(--main-color);
  color: #fff;
}
}