/* Title Bar */
.wordmark-2u86JB svg {
  display: none;
}

.titleBar-1it3bQ:not(.typeMacOS-3V4xXE)::before {
  content: "𝓐𝓼𝓱𝓾𝓻𝓪𝓶𝓪𝓻𝓾 𝓣𝓱𝓮𝓶𝓮" " v."var(--theme-version);
  position: absolute;
  top: 5px;
  left: 10px;
  color: var(--color-main);
  display: block;
  height: 16px;
  width: fit-content;
  pointer-events: none;
  font-size: 14px;
  font-weight: bold;
}

  /* Windows Buttons */
  .winButton-3UMjdg {
  top: -8px;
  height: 30px;
  width: 30px;
  background-position: center;
  opacity: .6;
  transition: .2s ease !important;
}

.winButton-3UMjdg:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: transparent !important;
  border-radius: 3px;
  opacity: 1 !important;
}

.titleBar-1it3bQ .winButtonClose-3Q8ZH5 {
	background-image: url(https://monstrousdev.github.io/themes/assets/svgs/cancel.svg) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
}

.titleBar-1it3bQ .winButton-3UMjdg:nth-child(3) {
	background-image: url(https://monstrousdev.github.io/themes/assets/svgs/fullscreen.svg) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
}

.titleBar-1it3bQ .winButton-3UMjdg:nth-child(4) {
	background-image: url(https://monstrousdev.github.io/themes/assets/svgs/minimize.svg) !important;
	background-repeat: no-repeat;
	background-position: center 7px;
	background-size: 24px;
	top: -10px;
}

 /* Erase & Change SVGs of windows buttons*/
.titleBar-1it3bQ rect,
.wordmark-2u86JB,
.winButton-3UMjdg svg,
.topic-2QX7LI:before,
.divider-2PMBlV { display: none;}

.theme-dark .icon-2xnN2Y {
  color: #ccc;
}

.theme-light .icon-2xnN2Y {
  color: #222;
}

svg[name="Nova_Bell"] path,
svg[name="Nova_BellOff"] path,
svg[name="Nova_Pin"] path,
svg[name="Nova_People"] path,
svg[name="Nova_At"] path,
svg[name="Nova-CallJoin"] path,
svg[name="PersonWaving"] path,
svg[name="NitroWheel"] path,
svg[name="Library"] path,
svg[name="Activity"] path{
  display: none;
}

svg[name="Nova_Bell"] {
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/svgs/bell.svg) center/100% no-repeat;
  mask: url(https://monstrousdev.github.io/themes/assets/svgs/bell.svg) center/100% no-repeat;
}

svg[name="Nova_BellOff"] {
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/svgs/bell-off.svg) center/100% no-repeat;
  mask: url(https://monstrousdev.github.io/themes/assets/svgs/bell.svg) center/100% no-repeat;
}

svg[name="Nova_Pin"] {
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSJub25lIiBkPSJNMCwwaDI0djI0SDBWMHoiLz4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTcuOSwxMy43IDE1LjgsMTIuNiAxNS4xLDUuMyAxNi40LDUgMTYuNCwzIDcuNiwzIDcuNiw1IDguOSw1LjMgOC4yLDEyLjYgNi4xLDEzLjcgNi4xLDE1LjcgDQoJMTEsMTUuNyAxMSwyMSAxMywyMSAxMywxNS43IDE3LjksMTUuNyAiLz4NCjwvc3ZnPg0K") center/100% no-repeat;
  mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSJub25lIiBkPSJNMCwwaDI0djI0SDBWMHoiLz4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTcuOSwxMy43IDE1LjgsMTIuNiAxNS4xLDUuMyAxNi40LDUgMTYuNCwzIDcuNiwzIDcuNiw1IDguOSw1LjMgOC4yLDEyLjYgNi4xLDEzLjcgNi4xLDE1LjcgDQoJMTEsMTUuNyAxMSwyMSAxMywyMSAxMywxNS43IDE3LjksMTUuNyAiLz4NCjwvc3ZnPg0K") center/100% no-repeat;
  transform: scaleX(-1)
}

svg[name="Nova_People"] {
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/friends.svg) center/100% no-repeat;
  mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/friends.svg) center/100% no-repeat;
}

svg[name="Nova_At"] {
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' name='Mention' class='iconInactive-g2AXfB icon-1R19_H da-iconInactive da-icon' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' class='iconForeground-3y9f0B da-iconForeground' fill-rule='evenodd' d='M12.2608,9.57136 C11.91424,9.57136 11.6072,9.67136 11.3464,9.87136 C11.0856,10.07136 10.86432,10.32496 10.68208,10.63568 C10.5,10.94288 10.36432,11.2856 10.26784,11.65712 C10.17488,12.02864 10.12496,12.38944 10.12496,12.73216 C10.12496,12.90352 10.14288,13.08576 10.17856,13.28224 C10.21424,13.47504 10.2856,13.6536 10.39632,13.82144 C10.50352,13.9856 10.64624,14.12144 10.82128,14.22864 C10.99632,14.33584 11.22848,14.38944 11.51776,14.38944 C11.91056,14.38944 12.24272,14.2928 12.51776,14.1 C12.7928,13.9072 13.01776,13.66416 13.1928,13.36784 C13.36784,13.07504 13.4928,12.7536 13.57504,12.41088 C13.6536,12.068 13.6928,11.75008 13.6928,11.46432 C13.6928,11.23568 13.67136,11.01072 13.62864,10.78576 C13.58576,10.56432 13.51088,10.36432 13.4,10.18224 C13.2928,10.00368 13.14288,9.85728 12.9536,9.74288 C12.76784,9.62864 12.53584,9.57136 12.2608,9.57136 L12.2608,9.57136 Z M18.57808,16.8728 C18.84672,17.16224 18.84672,17.63168 18.55136,17.89328 C17.81248,18.54608 16.96928,19.0408 16.02144,19.37504 C14.8464,19.7928 13.6072,20 12.30352,20 C11.05696,20 9.92128,19.80352 8.9,19.4072 C7.87856,19.0144 7.00352,18.46416 6.28208,17.7608 C5.55712,17.05728 4.99632,16.21424 4.59632,15.23216 C4.19648,14.24992 4,13.17856 4,12.01792 C4,10.87136 4.21792,9.81072 4.6536,8.83568 C5.08928,7.86064 5.68208,7.01424 6.43568,6.29632 C7.18928,5.57856 8.06784,5.01776 9.07856,4.60704 C10.08208,4.20352 11.16064,4 12.30352,4 C13.28912,4 14.2464,4.14288 15.17136,4.42864 C16.1,4.7144 16.92144,5.1464 17.63936,5.71792 C18.35712,6.29296 18.92864,7.0072 19.35712,7.86784 C19.78576,8.72864 20,9.73936 20,10.9 C20,11.76064 19.88224,12.52144 19.64288,13.17856 C19.40368,13.8392 19.08592,14.38928 18.68592,14.83568 C18.28592,15.28208 17.83232,15.61408 17.31792,15.83568 C16.80368,16.05712 16.26448,16.16768 15.70016,16.16768 C15.1216,16.16768 14.65728,16.032 14.30736,15.76064 C13.96096,15.48912 13.78592,15.14272 13.78592,14.72848 L13.67872,14.72848 C13.46096,15.07136 13.12864,15.39984 12.67872,15.70704 C12.2288,16.01424 11.67872,16.1712 11.02512,16.1712 C10.03936,16.1712 9.27872,15.84976 8.74288,15.20336 C8.2072,14.55696 7.93936,13.72112 7.93936,12.6856 C7.93936,12.08192 8.03936,11.48912 8.24288,10.89984 C8.4464,10.31056 8.73584,9.78912 9.11072,9.32848 C9.48576,8.87136 9.93568,8.49984 10.45712,8.22128 C10.97856,7.94272 11.55712,7.80352 12.19648,7.80352 C12.74656,7.80352 13.21088,7.91776 13.58928,8.1464 C13.96432,8.37504 14.21088,8.65712 14.32864,8.98576 L14.35008,8.98576 L14.38288,8.82512 C14.46144,8.4384 14.8448,8.12512 15.23936,8.12512 L15.74656,8.12512 C16.14128,8.12512 16.3952,8.43792 16.31408,8.824 L15.60736,12.19296 C15.57872,12.39296 15.53936,12.6144 15.48944,12.8608 C15.43952,13.10384 15.4144,13.33232 15.4144,13.55024 C15.4144,13.79312 15.46096,13.99664 15.55744,14.16448 C15.65024,14.3288 15.836,14.41104 16.11088,14.41104 C16.6752,14.41104 17.14304,14.11088 17.51456,13.50752 C17.8824,12.904 18.068,12.0968 18.068,11.07888 C18.068,10.21824 17.9216,9.45392 17.63232,8.7896 C17.34288,8.12176 16.93936,7.56464 16.42512,7.11104 C15.91088,6.66112 15.29648,6.31824 14.58928,6.0896 C13.87872,5.86096 13.10368,5.74672 12.26448,5.74672 C11.35008,5.74672 10.5144,5.90736 9.75376,6.22896 C8.99296,6.5504 8.34304,6.9968 7.8072,7.56112 C7.27152,8.12896 6.85376,8.79328 6.55728,9.56112 C6.25728,10.32544 6.10736,11.15408 6.10736,12.04336 C6.10736,12.98976 6.26448,13.84336 6.5752,14.604 C6.88592,15.36464 7.32528,16.0112 7.88944,16.5504 C8.4536,17.0896 9.1288,17.50048 9.91088,17.78624 C10.69312,18.07184 11.55728,18.21472 12.49664,18.21472 C13.67168,18.21472 14.6824,18.02912 15.5288,17.65408 C16.16528,17.37488 16.76304,17.01264 17.32304,16.56944 C17.632,16.3248 18.08192,16.3384 18.35056,16.62768 L18.57808,16.8728 L18.57808,16.8728 Z'%3E%3C/path%3E%3C/svg%3E") center/100% no-repeat;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' name='Mention' class='iconInactive-g2AXfB icon-1R19_H da-iconInactive da-icon' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' class='iconForeground-3y9f0B da-iconForeground' fill-rule='evenodd' d='M12.2608,9.57136 C11.91424,9.57136 11.6072,9.67136 11.3464,9.87136 C11.0856,10.07136 10.86432,10.32496 10.68208,10.63568 C10.5,10.94288 10.36432,11.2856 10.26784,11.65712 C10.17488,12.02864 10.12496,12.38944 10.12496,12.73216 C10.12496,12.90352 10.14288,13.08576 10.17856,13.28224 C10.21424,13.47504 10.2856,13.6536 10.39632,13.82144 C10.50352,13.9856 10.64624,14.12144 10.82128,14.22864 C10.99632,14.33584 11.22848,14.38944 11.51776,14.38944 C11.91056,14.38944 12.24272,14.2928 12.51776,14.1 C12.7928,13.9072 13.01776,13.66416 13.1928,13.36784 C13.36784,13.07504 13.4928,12.7536 13.57504,12.41088 C13.6536,12.068 13.6928,11.75008 13.6928,11.46432 C13.6928,11.23568 13.67136,11.01072 13.62864,10.78576 C13.58576,10.56432 13.51088,10.36432 13.4,10.18224 C13.2928,10.00368 13.14288,9.85728 12.9536,9.74288 C12.76784,9.62864 12.53584,9.57136 12.2608,9.57136 L12.2608,9.57136 Z M18.57808,16.8728 C18.84672,17.16224 18.84672,17.63168 18.55136,17.89328 C17.81248,18.54608 16.96928,19.0408 16.02144,19.37504 C14.8464,19.7928 13.6072,20 12.30352,20 C11.05696,20 9.92128,19.80352 8.9,19.4072 C7.87856,19.0144 7.00352,18.46416 6.28208,17.7608 C5.55712,17.05728 4.99632,16.21424 4.59632,15.23216 C4.19648,14.24992 4,13.17856 4,12.01792 C4,10.87136 4.21792,9.81072 4.6536,8.83568 C5.08928,7.86064 5.68208,7.01424 6.43568,6.29632 C7.18928,5.57856 8.06784,5.01776 9.07856,4.60704 C10.08208,4.20352 11.16064,4 12.30352,4 C13.28912,4 14.2464,4.14288 15.17136,4.42864 C16.1,4.7144 16.92144,5.1464 17.63936,5.71792 C18.35712,6.29296 18.92864,7.0072 19.35712,7.86784 C19.78576,8.72864 20,9.73936 20,10.9 C20,11.76064 19.88224,12.52144 19.64288,13.17856 C19.40368,13.8392 19.08592,14.38928 18.68592,14.83568 C18.28592,15.28208 17.83232,15.61408 17.31792,15.83568 C16.80368,16.05712 16.26448,16.16768 15.70016,16.16768 C15.1216,16.16768 14.65728,16.032 14.30736,15.76064 C13.96096,15.48912 13.78592,15.14272 13.78592,14.72848 L13.67872,14.72848 C13.46096,15.07136 13.12864,15.39984 12.67872,15.70704 C12.2288,16.01424 11.67872,16.1712 11.02512,16.1712 C10.03936,16.1712 9.27872,15.84976 8.74288,15.20336 C8.2072,14.55696 7.93936,13.72112 7.93936,12.6856 C7.93936,12.08192 8.03936,11.48912 8.24288,10.89984 C8.4464,10.31056 8.73584,9.78912 9.11072,9.32848 C9.48576,8.87136 9.93568,8.49984 10.45712,8.22128 C10.97856,7.94272 11.55712,7.80352 12.19648,7.80352 C12.74656,7.80352 13.21088,7.91776 13.58928,8.1464 C13.96432,8.37504 14.21088,8.65712 14.32864,8.98576 L14.35008,8.98576 L14.38288,8.82512 C14.46144,8.4384 14.8448,8.12512 15.23936,8.12512 L15.74656,8.12512 C16.14128,8.12512 16.3952,8.43792 16.31408,8.824 L15.60736,12.19296 C15.57872,12.39296 15.53936,12.6144 15.48944,12.8608 C15.43952,13.10384 15.4144,13.33232 15.4144,13.55024 C15.4144,13.79312 15.46096,13.99664 15.55744,14.16448 C15.65024,14.3288 15.836,14.41104 16.11088,14.41104 C16.6752,14.41104 17.14304,14.11088 17.51456,13.50752 C17.8824,12.904 18.068,12.0968 18.068,11.07888 C18.068,10.21824 17.9216,9.45392 17.63232,8.7896 C17.34288,8.12176 16.93936,7.56464 16.42512,7.11104 C15.91088,6.66112 15.29648,6.31824 14.58928,6.0896 C13.87872,5.86096 13.10368,5.74672 12.26448,5.74672 C11.35008,5.74672 10.5144,5.90736 9.75376,6.22896 C8.99296,6.5504 8.34304,6.9968 7.8072,7.56112 C7.27152,8.12896 6.85376,8.79328 6.55728,9.56112 C6.25728,10.32544 6.10736,11.15408 6.10736,12.04336 C6.10736,12.98976 6.26448,13.84336 6.5752,14.604 C6.88592,15.36464 7.32528,16.0112 7.88944,16.5504 C8.4536,17.0896 9.1288,17.50048 9.91088,17.78624 C10.69312,18.07184 11.55728,18.21472 12.49664,18.21472 C13.67168,18.21472 14.6824,18.02912 15.5288,17.65408 C16.16528,17.37488 16.76304,17.01264 17.32304,16.56944 C17.632,16.3248 18.08192,16.3384 18.35056,16.62768 L18.57808,16.8728 L18.57808,16.8728 Z'%3E%3C/path%3E%3C/svg%3E") center/100% no-repeat;
}

svg[name="Nova_CallJoin"] {
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/svgs/phone-call.svg) center/100% no-repeat;
  mask: url(https://monstrousdev.github.io/themes/assets/svgs/phone-call.svg) center/100% no-repeat;
}

svg[name="Nova_CallVideo"] {
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/svgs/video-call.svg) center/100% no-repeat;
  mask: url(https://monstrousdev.github.io/themes/assets/svgs/video-call.svg) center/100% no-repeat;
}

.channel-1Shao0[href="/discovery"] .avatar-6qzftW svg path{
  display: block;
}

.channel-1Shao0[href="/channels/@me"] .avatar-6qzftW svg {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/friends.svg) center/100% no-repeat;;
}

.channel-1Shao0[href="/store"] .avatar-6qzftW svg {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/nitro.svg) center/100% no-repeat;;
}

.channel-1Shao0[href="/library"] .avatar-6qzftW svg {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/library.svg) center/100% no-repeat;;
}

svg[name="Activity"] {
  color: inherit !important;
  background-color: currentColor;
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/home-tabs/activity.svg) center/100% no-repeat;;
}

/* URL Color */
.markup-eYLPri a {
  color: var(--color-link);
}
.markup-eYLPri code {
  background-color: var(--color-main);
  border-radius: 5px;
  border: none;
}

/* Channels Font */
.channelName-3KPsGw {
	font-family: var(--font-channels);
	font-size: 16px;
}

/* Channels Icon Colors */
.icon-2W8DHg {	
	color: var(--color-channel-icon);
}
.modeMuted-2T4MDZ .icon-2W8DHg {
	color: var(--color-channel-icon);
}
.modeMuted-2T4MDZ:hover .icon-2W8DHg,
.wrapper-NhbLHG:hover .icon-2W8DHg {
	color: var(--color-channel-icon);
}
.modeConnected-NrO4cP .icon-2W8DHg,
.modeConnected-NrO4cP:hover .icon-2W8DHg,
.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg,
.notInteractive-2tFrlE.modeConnected-NrO4cP .icon-2W8DHg,
.notInteractive-2tFrlE.modeSelected-3DmyhH .icon-2W8DHg {
	color: var(--color-channel-icon);
}
.modeConnected-NrO4cP .subtitle-3PyFgf,	
.modeConnected-NrO4cP:hover .subtitle-3PyFgf,
.modeSelected-3DmyhH .subtitle-3PyFgf,
.modeSelected-3DmyhH:hover .subtitle-3PyFgf,
.modeUnread-3Cxepe .subtitle-3PyFgf,
.modeUnread-3Cxepe:hover .subtitle-3PyFgf,
.notInteractive-2tFrlE.modeConnected-NrO4cP .subtitle-3PyFgf,
.notInteractive-2tFrlE.modeSelected-3DmyhH .subtitle-3PyFgf {
	color: var(--color-channel-icon);
}

/* Unread Channel Colors */
.wrapper-NhbLHG.modeUnread-3Cxepe
  .content-1gYQeQ
  .mainContent-20q_Hp
  .channelName-3KPsGw {
  color: var(--color-channel-unread);
  font-weight: 900;
}
.unread-36eUEm {
  background-color: var(--color-channel-unread);
}
.unreadPill-3nEWYM {
  background-color: var(--color-channel-unread);
}
#app-mount .divider-2rZFJK.isUnread-3Lojb- {
  border-top: 1px solid var(--color-channel-unread);
}

.unreadPillCapStroke-1nE1Q8 {
  color: var(--color-channel-icon);
  fill: var(--color-channel-icon);
}

/* CHAT */

.chat-2ZfjoI.threadSidebarOpen-1LSXvU {						/* chat					threadsidebar open					*/
	border-radius: 0;
}
#app-mount .background-fkKrXt .container-2Hi7Km,
#app-mount .background-fkKrXt .container-xwOzwi,
#app-mount .background-fkKrXt .container-3rZ3XA,
#app-mount .background-fkKrXt .icon-2IDTxf,
#app-mount .background-fkKrXt .containerCard-2kwJKN,
#app-mount .background-fkKrXt .containerCard-2kwJKN:hover,
#app-mount .background-fkKrXt .interactiveCard-2iMtdk,
#app-mount .container-3wLKDe .mainCard-3KBsBI,
#app-mount .container-3wLKDe .sidebarCard-1Gn1ch {
	background: var(--background-secondary);
}
@media (max-width: 1300px) {
	.container-xwOzwi,
	.container-3rZ3XA {
		background: none !important;
	}
}
#app-mount .background-fkKrXt .containerCard-2kwJKN {
	border-color: var(--background-secondary);
}
#app-mount .background-fkKrXt .container-3HMTms:hover,
#app-mount .container-3wLKDe .pill-3pRQlO {
	background: var(--background-tertiary);
}
.container-3YcgdM {											/* forum				first message container				*/
	border-color: var(--background-floating);
}
.divider-AZrXIA {											/* forum				fat divider							*/
	background: var(--background-floating);
}
#app-mount .container-2qVG6q.isOpen-2OXbFs {				/* forum				selected post						*/
	background-color: rgb(var(--color-main));
    text-shadow: 1px 1px var(--textshadow);
}
#app-mount .container-2qVG6q.isOpen-2OXbFs .defaultColor-24IHKz,
#app-mount .container-2qVG6q.isOpen-2OXbFs [style*="color: var(--header-secondary)"] {
	color: var(--header-primary) !important;
}
#app-mount .container-2qVG6q.isOpen-2OXbFs .author-22H8ZU a,
#app-mount .container-2qVG6q.isOpen-2OXbFs [style*="color: var(--text-muted)"] {
	color: var(--header-secondary) !important;
}

/* MESSAGES */

.emptyChannelIcon-1YdEz2 {									/* welcomemessage		empty channelicon					*/
	background-color: rgba(var(--transparencycolor), .4);
}
.card-1yV8cG {												/* welcomemessage		first steps card					*/
	background-color: rgba(var(--transparencycolor), .3);
}
.card-1yV8cG:hover {
	background-color: rgba(var(--transparencycolor), .5);
}

.button-1kija8:hover {										/* welcomemessage		edit channel						*/
	background-color: rgb(var(--color-main));
	color: var(--interactive-active);
	text-shadow: 1px 1px var(--textshadow);
}

#app-mount .role-23oyrw {									/* welcomemessage		role								*/
	background: transparent;
	border-color: rgba(var(--textbrighter), .6);
	border-radius: 5px;
	height: 22px;
	padding: 0 5px;
	position: relative;
}
#app-mount .role-23oyrw[style*="border-color: rgba(185, 187, 190, .6)"] {
	border-color: rgba(var(--textbrighter), .6) !important;
}
#app-mount .role-23oyrw .roleColor-3cA0as {					/* welcomemessage		rolecircle							*/
	position: absolute;
	background-color: var(--text-normal);
	border-radius: 3px;
	opacity: 0.5;
	height: 100%;
	width: 100%;
	margin: 0;
	left: 0;
	top: 0;
	z-index: -1;
}
#app-mount .role-23oyrw:hover .roleColor-3cA0as {
	opacity: 0.8;
}
#app-mount .role-23oyrw .roleColor-3cA0as[style*="background-color: rgb(185, 187, 190)"] {
	background-color: var(--text-normal) !important;
}

.divider-2rZFJK.hasContent-31hcsn {							/* divider				hascontent							*/
	border-width: calc(1px * (1 - var(--usechatbubbles)));
}
.divider-2rZFJK.hasContent-31hcsn::before {
	content: "";
	position: absolute;
	top: -0.6rem;
	bottom: -0.6rem;
	right: -0.2rem;
	left: 0;
	background: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.5));
	border-radius: 5px;
	pointer-events: none;
	z-index: -1;
}
.content-3spvdd {											/* divider				content								*/
	position: absolute;
	background-color: transparent;
	padding: 2px 8px;
	width: unset;
}
.content-3spvdd::before,
.content-3spvdd::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	pointer-events: none;
	opacity: calc(1 - var(--usechatbubbles));
	z-index: -1;
}
.content-3spvdd::before {
	background: var(--backgroundImage) var(--backgroundPosition)/var(--backgroundSize);
	background-attachment: fixed;
}
.content-3spvdd::after {
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
	backdrop-filter: blur(var(--backgroundBlur));
}
.unreadPill-3nEWYM {										/* divider				unreadpill							*/
	border-radius: calc(4px * var(--usechatbubbles)) 4px 4px calc(4px * var(--usechatbubbles));
	padding-left: calc(4px * var(--usechatbubbles) + 1px * (1 - var(--usechatbubbles)));
}
.unreadPillCap-2-iI4h {										/* divider				unreadpillcap						*/
	opacity: calc(1 - var(--usechatbubbles));
}

.hasMore-2mIMwb:hover {
	background-color: rgba(var(--transparencycolor), .2);
}
.jumpToPresentBar-1cEnH0 {									/* bar					jumptopresent						*/
	background-color: transparent;
	overflow: hidden;
	opacity: 1;
}
.jumpToPresentBar-1cEnH0::before,
.jumpToPresentBar-1cEnH0::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	pointer-events: none;
	z-index: -1;
}
.jumpToPresentBar-1cEnH0::before {
	background: var(--backgroundImage) var(--backgroundPosition)/var(--backgroundSize);
	background-attachment: fixed;
}
.jumpToPresentBar-1cEnH0::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.2));
	backdrop-filter: blur(var(--backgroundBlur));
}

/* MESSAGE */

#app-mount .message-G6O-Wv {								/* message				confirm modal						*/
	background-color: rgba(var(--transparencycolor), .2);
	box-shadow: none;
}
.message-2CShn3,											/* message				container							*/
.messagesWrapper-RpOMA3 .wrapper-30-Nkg,					/* message				upload placeholder					*/
.card-3x20HF .wrapper-30-Nkg,								/* message				home								*/
.wrapper-15CKyy,											/* message				loading 							*/
.message-3g3FYR,											/* message				mention popout						*/
.message-372Ods,											/* message				inbox popout						*/
.message-G6O-Wv .wrapper-30-Nkg,							/* message				settings preview					*/
.messageGroupCozy-3v_RqN,									/* message				pin popout							*/
.message-24k8JL .wrapper-30-Nkg {							/* message				searchpage							*/
	background-color: rgba(var(--transparencycolor), var(--messagetransparency)) !important;
	contain: unset;
	font-family: var(--font-chat);
	width: 87%;
}
.message-24k8JL .wrapper-30-Nkg {							/* message				searchpage							*/
	background-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.8)) !important;
}
.message-2CShn3.selected-2LX7Jy,
.mouse-mode .message-2CShn3:hover,
.mouse-mode.full-motion .message-2CShn3:hover,
.mouse-mode .wrapper-15CKyy:hover,
.mouse-mode.full-motion .wrapper-15CKyy:hover {
	background-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 1.2 * var(--usechatbubbles) + 0.3 * (1 - var(--usechatbubbles)))) !important;
}
.backgroundFlash-1X5jVs .message-2CShn3 {					/* message				jump flash							*/
	position: relative;
}
.backgroundFlash-1X5jVs .message-2CShn3::before {
	content: "";
	position: absolute;
	background: var(--message-background-flash, transparent);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
}
.backgroundFlash-1X5jVs .cozyMessage-1DWF9U::before {
	left: calc(-80px * var(--usechatbubbles));
}
.message-2CShn3.ephemeral-2nDdnn,							/* message				localbot							*/
.message-2CShn3.replying-eZ7p5z {							/* message				replying							*/
	background-image: linear-gradient(rgba(var(--color-main), calc(0.2 * (1 - var(--usechatbubbles)))), rgba(var(--color-main), calc(0.2 * (1 - var(--usechatbubbles)))));
}
.message-2CShn3.mentioned-Tre-dv {							/* message				mentioned							*/
	background-image: linear-gradient(rgba(var(--color-mention), calc(0.2 * (1 - var(--usechatbubbles)))), rgba(var(--color-main), calc(0.2 * (1 - var(--usechatbubbles)))));
}
.message-2CShn3.ephemeral-2nDdnn::before,
.message-2CShn3.replying-eZ7p5z::before {
	background-color: rgb(var(--color-main));
}
.message-2CShn3.mentioned-Tre-dv::before {
	background-color: rgb(var(--color-mention));
}
.message-2CShn3.mentioned-Tre-dv .contents-2MsGLg .messageContent-2t3eCI {
	border-radius: 3px;
	background-color: rgba(var(--color-mention), calc(0.3 * var(--usechatbubbles)));
}
#app-mount .avatar-2e8lTP,									/* message				container avatar					*/
#app-mount .avatar-l9Txm5 {									/* message				loading avatar						*/
	position: absolute;
	top: 2px;
	left: calc(-70px * var(--usechatbubbles) + 16px);
}
#app-mount .repliedMessage-3Z6XBG ~ * .avatar-2e8lTP {
	top: 24px;
}
#app-mount .container-3FojY8 .avatar-2e8lTP {
	left: calc(-10px * var(--usechatbubbles));
}

#app-mount .replyBadge-LMm_Ic {								/* message				reply badge							*/
	background-color: rgba(var(--transparencycolor), .5);
}
#app-mount .spine-3OoQS_ {
	width: 0px;
	top: 20px;
	right: calc(1px * (-32 * var(--usechatbubbles) + -25 * (1 - var(--usechatbubbles))));
	left: unset;
	border: none;
}
#app-mount .compact-2Nkcau .spine-3OoQS_ {
	right: 0;
}
#app-mount .repliedMessage-3Z6XBG::before,					/* message				reply spine							*/
#app-mount .repliedMessage-3Z6XBG::after,
#app-mount .spine-3OoQS_::before,							/* message				command spine						*/
#app-mount .spine-3OoQS_::after {
	--avatar-size: 38px;
	--gutter: 16px;
	--spine-width: 2px;
	content: "";
	display: block;
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	top: 50%;
	right: unset;
	bottom: 0;
	left: calc(-1 * var(--avatar-size) - (6px * var(--usechatbubbles)));
	width: calc(var(--avatar-size) - 4px);
	margin: calc(-1 * var(--spine-width)/2) var(--reply-spacing) calc(.125rem - 4px) calc(-1 * var(--spine-width)/2);
	border-right: 0 solid var(--background-accent);
	border-left: var(--spine-width) solid var(--background-accent);
}
#app-mount .repliedMessage-3Z6XBG::before,
#app-mount .repliedMessage-3Z6XBG::after {
	border-top: var(--spine-width) solid var(--background-accent);
	border-bottom: 0 solid var(--background-accent);
	border-top-left-radius: 6px;
}
#app-mount .spine-3OoQS_::before,
#app-mount .spine-3OoQS_::after {
	border-top: 0 solid var(--background-accent);
	border-bottom: var(--spine-width) solid var(--background-accent);
	border-bottom-left-radius: 6px;
}
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::before,
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::after,
#app-mount .compact-2Nkcau .spine-3OoQS_::before,
#app-mount .compact-2Nkcau .spine-3OoQS_::after {
	--avatar-size: 20px;
	left: calc(-1 * var(--avatar-size));
}
#app-mount .repliedMessage-3Z6XBG::before,
#app-mount .spine-3OoQS_::before {
	border-color: rgba(var(--textbrighter), calc(0.3 * (1 - var(--usechatbubbles))));
}
#app-mount .repliedMessage-3Z6XBG::after,
#app-mount .spine-3OoQS_::after {
	border-color: rgba(var(--transparencycolor), calc(0.5 * var(--usechatbubbles)));
}
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::before,
#app-mount .compact-2Nkcau .spine-3OoQS_::before {
	border-color: rgba(var(--textbrighter), .3);
}
#app-mount .compact-2Nkcau .repliedMessage-3Z6XBG::after,
#app-mount .compact-2Nkcau .spine-3OoQS_::after {
	border-color: transparent;
}

#app-mount .cozy-VmLDNB.hasThread-3h-KJV::before,			/* message				thread spine						*/
#app-mount .cozy-VmLDNB.hasThread-3h-KJV::after,
#app-mount .compact-2Nkcau.hasThread-3h-KJV::after {
	--avatar-size: 38px;
	--gutter: 16px;
	--spine-width: 2px;
	content: "";
	display: block;
	position: absolute;
	top: 2rem;
	bottom: 29px;
	left: calc(var(--avatar-size) * (1 - var(--usechatbubbles)) - var(--avatar-size) * var(--usechatbubbles));
	width: calc(var(--avatar-size) - 10px + (4px * var(--usechatbubbles)));
	margin: calc(-1 * var(--spine-width)/2) var(--reply-spacing) calc(.125rem - 4px) calc(-1 * var(--spine-width)/2);
	border-top: 0 solid var(--background-accent);
	border-right: 0 solid var(--background-accent);
	border-bottom: var(--spine-width) solid var(--background-accent);
	border-left: var(--spine-width) solid var(--background-accent);
	border-bottom-left-radius: 8px;
}
#app-mount .cozy-VmLDNB.hasThread-3h-KJV::before {
	border-color: rgba(var(--textbrighter), calc(0.3 * (1 - var(--usechatbubbles))));
}
#app-mount .cozy-VmLDNB.hasThread-3h-KJV::after {
	border-color: rgba(var(--transparencycolor), calc(0.5 * var(--usechatbubbles)));
}
#app-mount .message-2CShn3.mentioned-Tre-dv.hasThread-3h-KJV::before {
	background-color: transparent;
}
#app-mount .compact-2Nkcau.hasThread-3h-KJV::after {
	left: calc(var(--avatar-size) + 11px);
	width: calc(var(--avatar-size) - 13px);
	border-color: rgba(var(--textbrighter), .3);
}
#app-mount .compact-2Nkcau.hasThread-3h-KJV .contents-2MsGLg::before {
	border-color: rgba(var(--textbrighter), .3);
}

.spine-2vt3pM {
	border-color: rgba(var(--textbrighter), .3);
}
.hasThread-3h-KJV .spine-2vt3pM {
	display: none;
}

.cozy-25GiHp.content-1UQFwj {								/* message				command content						*/
	background-color: rgba(var(--transparencycolor), .3);
}

.cozy-VmLDNB .header-2jRmjb::after,							/* message				container header					*/
.cozy-3hKWhq .header-35u4WP::after {						/* message				loading header						*/
	content: "";
	position: absolute;
	top: 12px;
	left: -32px;
	border: 10px solid transparent;
	border-right: 12px solid rgba(var(--transparencycolor), var(--messagetransparency));
}
.cozy-VmLDNB .container-3FojY8 .header-2jRmjb::after {
	left: 40px;
}
.messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN .header-2jRmjb::after {
	top: 2px;
}
.message-24k8JL .wrapper-30-Nkg .header-2jRmjb::after {
	border-right-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.8));
}
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
	left: calc(-78px * var(--usechatbubbles));
}
.cozy-VmLDNB .iconContainer-2rPbqG {
	background-color: rgba(var(--transparencycolor), var(--messagetransparency));
	border-radius: 50%;
	left: calc(1px * (-58 * var(--usechatbubbles) + -48 * (1 - var(--usechatbubbles))));
	height: 25px !important;
	width: 25px !important;
	margin: unset;
	margin-right: 1rem;
	padding: 0;
}
.cozy-VmLDNB .blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {
	background-color: transparent;
}
.cozy-VmLDNB .iconContainer-2rPbqG::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 26px;
	border: 10px solid transparent;
	border-right: 12px solid rgba(var(--transparencycolor), var(--messagetransparency));
}
.cozy-VmLDNB .blockedSystemMessage-3FmE9n .iconContainer-2rPbqG::after {
	display: none;
}
.selected-2LX7Jy.message-2CShn3.cozy-VmLDNB .header-2jRmjb::after, 
.mouse-mode .message-2CShn3.cozy-VmLDNB:hover .header-2jRmjb::after,
.mouse-mode.full-motion .message-2CShn3.cozy-VmLDNB:hover .header-2jRmjb::after,
.mouse-mode .wrapper-15CKyy.cozy-3hKWhq:hover .header-35u4WP::after,
.mouse-mode.full-motion .wrapper-15CKyy.cozy-3hKWhq:hover .header-35u4WP::after,
.selected-2LX7Jy.message-2CShn3.cozy-VmLDNB .iconContainer-2rPbqG::after,
.mouse-mode .message-2CShn3.cozy-VmLDNB:hover .iconContainer-2rPbqG::after,
.mouse-mode.full-motion .message-2CShn3.cozy-VmLDNB:hover .iconContainer-2rPbqG::after {
	border-right-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 1.2));
}
#app-mount .mentioned-Tre-dv.cozy-VmLDNB .header-2jRmjb::after {
	border-right-color: rgba(var(--color-mention), calc(var(--messagetransparency) * 100000000000000000000000000000));
}
#app-mount .ephemeral-2nDdnn.cozy-VmLDNB .header-2jRmjb::after,
#app-mount .replying-eZ7p5z.cozy-VmLDNB .header-2jRmjb::after {
	border-right-color: rgba(var(--color-main), calc(var(--messagetransparency) * 100000000000000000000000000000));
}
.message-3g3FYR,
.message-372Ods,
.zalgo-26OfGz .messageContent-2t3eCI,
.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb,
.wrapper-15CKyy,
.cozy-3hKWhq .header-35u4WP {
	overflow: visible;
}
.container-3FojY8 {
	padding: 0;
	overflow: visible;
}
#app-mount .cozyMessage-1DWF9U,								/* message				container cozy						*/
#app-mount .messagesWrapper-RpOMA3 .cozy-VmLDNB,			/* message				upload placeholder cozy				*/
#app-mount .card-3x20HF .cozy-VmLDNB,						/* message				home cozy							*/
#app-mount .cozy-3hKWhq {									/* message				loading cozy						*/
	margin-left: calc(80px * var(--usechatbubbles));
	padding-left: calc(1px * (10 * var(--usechatbubbles) + 72 * (1 - var(--usechatbubbles))));
}
#app-mount .wrapper-30-Nkg[data-list-item-id*="Uploader"] {
	margin-top: 1rem;
}
#app-mount .compact-QWkw9- {								/* message				loading compact						*/
	margin-top: .0625rem;
}
#app-mount .cozy-VmLDNB .header-2jRmjb,
#app-mount .cozy-VmLDNB .messageContent-2t3eCI,
#app-mount .cozy-3hKWhq .header-35u4WP {
	margin-left: 0;
	padding-left: 0;
}
.messageContainer-3VTXBC .wrapper-30-Nkg,
.messages-23can0 .wrapper-30-Nkg,
.message-G6O-Wv .wrapper-30-Nkg,
.messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN,
.message-24k8JL .wrapper-30-Nkg {
	border-radius: 5px;
	margin-left: calc(60px * var(--usechatbubbles));
	padding-left: calc(1px * (10 * var(--usechatbubbles) + 72 * (1 - var(--usechatbubbles))));
}
.messages-23can0 .wrapper-30-Nkg {
	border-radius: 0;
}

															/* message				home message						*/
.interactiveCard-2iMtdk.selected-sszUNx, .interactiveCard-2iMtdk:active,
.interactiveCard-2iMtdk:hover {
	border-color: var(--background-secondary);
}
.feedItemHeader-txJq98 {
	border-color: var(--background-primary);
}
.interactiveCard-2iMtdk.selected-sszUNx, .interactiveCard-2iMtdk:active .feedItemHeader-txJq98,
.interactiveCard-2iMtdk:hover .feedItemHeader-txJq98 {
	border-color: var(--background-secondary);
}

.avatar-l9Txm5 {											/* message				loading avatar						*/
	background: rgba(var(--transparencycolor), .4);
	opacity: 1 !important;
}
.attachment-16cAbS,											/* message				loading attachment					*/
.blob-1uHjdp {												/* message				loading blob						*/
	background: rgb(var(--color-main));
}

.expanded-3lghlw {											/* message				expanded blocked					*/
	background-color: rgba(var(--transparencycolor), .2);
	border-radius: 5px 5px 0 5px;
	margin-bottom: .5625rem;
}

.reaction-2A2y9y {											/* message				reaction							*/
	background-color: rgba(var(--transparencycolor), .3);
	border: none;
}
.reaction-2A2y9y:hover {
	background-color: rgba(var(--transparencycolor), .4);
}
.reaction-2A2y9y.reactionMe-3I9gFK {
	background-color: rgba(var(--color-main), .8);
}
.reaction-2A2y9y.reactionMe-3I9gFK:hover {
	background-color: rgb(var(--color-main));
}
.reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN {
	color: #FFF;
	text-shadow: 1px 1px var(--textshadow);
}
.reaction-2A2y9y:hover {
	background-color: rgba(var(--transparencycolor), .4);
}

.wrapper-2vIMkT {											/* message				buttons								*/
	position: relative;
	background: transparent;
}
.wrapper-2vIMkT::before,
.wrapper-2vIMkT::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	border-radius: 4px;
	pointer-events: none;
	z-index: -1;
}
.wrapper-2vIMkT::before {
	background: var(--backgound) var(--backgoundposition)/var(--backgroundSize);
	background-attachment: fixed;
}
.wrapper-2vIMkT::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	backdrop-filter: blur(var(--backgroundBlur));
}
.button-3bklZh:hover {										/* message				button								*/
	background-color: rgba(var(--transparencycolor), .2);
}
.button-3bklZh.selected-69H4ua {
	background-color: rgba(var(--transparencycolor), .4);
}

.bumpBox-1Pp4td {											/* messageelement		publish box							*/
	background-color: rgba(var(--transparencycolor), .4);
}

.markup-eYLPri code {										/* messageelement		code								*/
	background-color: transparent;
	border-color: transparent;
}
.markup-eYLPri pre {										/* messageelement		pre									*/
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.markup-eYLPri .inline,										/* messageelement		inline								*/
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
	background-color: rgba(var(--transparencycolor), .4);
}

.textContainer-36wgKK {										/* messageelement 		plain file text						*/
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.footer-GXWBBp {											/* messageelement 		plain file footer					*/
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.languageSelector-2e1IuO {									/* messageelement 		plain file popout					*/
	background-color: transparent;
	border: 1px solid rgba(var(--transparencycolor), .3);
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgba(var(--transparencycolor), .3);
	overflow: hidden;
}
.languageSelector-2e1IuO::before,
.languageSelector-2e1IuO::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	border-radius: 5px;
	pointer-events: none;
	z-index: -1;
}
.languageSelector-2e1IuO::before {
	background: var(--popout) var(--popoutposition)/var(--popoutsize);
	background-attachment: fixed;
}
.languageSelector-2e1IuO::after {
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	backdrop-filter: blur(var(--popoutblur));
}

#app-mount .spoilerText-27bIiA {							/* messageelement		spoiler								*/
	background-color: rgba(var(--transparencycolor), .2);
}
#app-mount .spoilerText-27bIiA.hidden-3B-Rum {				/* messageelement		hiddenspoiler						*/
	background-color: rgba(var(--transparencycolor), .6);
}

.icon-JRJzJz[style*="/assets/5da4cdab01d4d89c593c48c62ae0d937.svg"] {		/* systemmessage			pinicon									*/
	-webkit-mask: url(https://discord.com/assets/5da4cdab01d4d89c593c48c62ae0d937.svg) center/cover no-repeat;
	background: var(--channels-default) !important;
}
.icon-JRJzJz[style*="/assets/d80d1fdc43a3c42134a31a39581160ac.svg"] {		/* systemmessage			missedcall								*/
	-webkit-mask: url(https://discord.com/assets/d80d1fdc43a3c42134a31a39581160ac.svg) center/cover no-repeat;
	background: var(--channels-default) !important;
}
.icon-JRJzJz[style*="/assets/b8029fe196b8f1382e90bbe81dab50dc.svg"] {		/* systemmessage			joincallicon							*/
	-webkit-mask: url(https://discord.com/assets/b8029fe196b8f1382e90bbe81dab50dc.svg) center/cover no-repeat;
	background: rgb(var(--color-main)) !important;
}
.icon-JRJzJz[style*="/assets/c30220457097b064286a8759a9b6c4af.svg"] {		/* systemmessage			recievecallicon							*/
	-webkit-mask: url(https://discord.com/assets/c30220457097b064286a8759a9b6c4af.svg) center/cover no-repeat;
	background: rgb(var(--color-main)) !important;
}

/* EMBEDS */

#app-mount .embedFull-1HGV2S {								/* embed				wrapper								*/
	background-color: rgba(var(--transparencycolor), .3);
	border-left-color: var(--color-main);
}

#app-mount .attachment-1PZZB2 {								/* attachment			container							*/
	background-color: rgba(var(--transparencycolor), .3);
	border-color: rgba(var(--transparencycolor), .1);
	margin-left: 18px;
}
#app-mount .message-2CShn3 .attachment-1PZZB2 {
	margin-left: 0;
}
#app-mount .twitchSectionPlayButton-2RamGG {
	object-position: -999999px -999999px;
	background: rgba(var(--transparencycolor), .4) url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M12.3333 10.002V22.002L22.3333 16.002L12.3333 10.002Z" fill="rgb(185,187,190)"/></svg>');
	border-radius: 50%;
}
#app-mount .twitchSectionPlayButton-2RamGG:hover {
	background-color: rgba(var(--transparencycolor), .8);
}

#app-mount .wrapper-1FP9YQ {								/* attachment			videowrapper						*/
	background-color: rgba(var(--transparencycolor), .3);
}

/* INVITE */

#app-mount .wrapper-1HIH0j {								/* invite				container							*/
	background-color: rgba(var(--transparencycolor), .3);
	border-color: rgba(var(--transparencycolor), .1);
}
#app-mount .guildIconImage-74OdmM {							/* invite				icon								*/
	background-color: rgba(var(--transparencycolor), .3);
}
#app-mount .guildName-3G4jq- {								/* invite				name								*/
	color: var(--header-primary);
}
#app-mount .guildDetail-3EJhW_ {							/* invite				details								*/
	color: var(--channels-default);
}

#app-mount .invite-3uuHYQ {									/* invite				group invite						*/
	background-color: rgba(var(--transparencycolor), .3);
	border-color: rgba(var(--transparencycolor), .1);
}
#app-mount .header-1Fx4D1 {
	color: rgb(var(--textdarker));
}
#app-mount .name-QjR4Jk,
#app-mount .partyStatus-2-VcyG {
	color: var(--header-primary);
}
#app-mount .moreUsers-3PdGZN {
	background-color: rgba(var(--transparencycolor), .3);
	color: var(--header-secondary);
}
#app-mount .partyMemberEmpty-GtlQ_s {
	background-color: rgba(var(--transparencycolor), .3);
}
#app-mount .helpIcon-24pk1Z {
	background-color: var(--header-primary);
}

/* TEXTAREA */

.form-3gdLxP {
	padding-top: 0;
	margin-top: 0;
}
.form-3gdLxP {												/* textarea				form								*/
	background: rgba(var(--transparencycolor), var(--chatinputtransparency));
	margin-top: 0;
	padding-top: 8px;
	border-top-right-radius: calc(8px * (1 - (var(--memberlisttransparency) / (var(--memberlisttransparency) + 0.00000000000000000000001))));
	border-top-left-radius: calc(8px * (1 - (var(--guildchanneltransparency) / (var(--guildchanneltransparency) + 0.00000000000000000000001))));
}
.threadSidebarOpen-1LSXvU .form-3gdLxP {
	border-top-right-radius: 8px;
}
.form-3gdLxP::before {
	display: none;
}

.channelTextArea-1FufC0 {									/* textarea				channeltextarea						*/
	background-color: transparent;
	border-top-color: var(--background-modifier-accent);
}

.container-A2jo65 {											/* textarea				reply								*/
	background: rgba(var(--transparencycolor), .3);
	border: none;
	border-bottom: 1px solid var(--background-modifier-accent);
}

.scrollableContainer-15eg7h {								/* textarea				container							*/
	background-color: rgba(var(--transparencycolor), .3);
}

.sprite-2lxwfc {											/* textarea				emojibutton							*/
	transform: none !important;
}

.wrapper-2SplAX {											/* textarea				placeholder							*/
	background-color: rgba(var(--transparencycolor), .3);
	color: var(--text-normal);
}

.toolbar-37BrJ5 {											/* textarea				formattoolbar						*/
	background-color: var(--color-main);
}
.toolbar-37BrJ5::before {
	border-top-color: var(--color-main);
}
.divider-3NY7PF {											/* textarea				formattoolbar divider				*/
	border-left-color: hsla(0, 0%,100%, .1);
}
.active-136ioF,												/* textarea				buttonactive						*/
.hover-3OQb9Y:hover {										/* textarea				buttonhover							*/
	background-color: hsla(0, 0%, 100%, .2);
}
.icon-3g7qdA {												/* textarea				buttonicon							*/
	color: #fff;
	opacity: .7;
}
.active-136ioF .icon-3g7qdA,
.hover-3OQb9Y:hover .icon-3g7qdA {
	color: #fff;
	opacity: 1;
}

#app-mount .pill-1HLSrc {									/* textarea				command query pill					*/
	background-color: rgba(var(--transparencycolor), .5);
	border-radius: 5px;
}

/* CHAT SIDEBAR */

.container-3XgAHv {											/* chat					sidebar								*/ 
	border-radius: 0;
}
.container-3XgAHv.floating-3M3WeH::before,
.container-3XgAHv.floating-3M3WeH::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: unset;
	height: unset;
	pointer-events: none;
	z-index: -1;
}
.container-3XgAHv.floating-3M3WeH::before {
	background: var(--backgroundImage) var(--backgroundPosition)/var(--backgroundSize);
	background-attachment: fixed;
}
.container-3XgAHv.floating-3M3WeH::after {
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
	backdrop-filter: blur(var(--backgroundBlur));
}
.chatTarget-3H6mpC.notFloating-cIl-vp ~ .container-3XgAHv {
	overflow: visible;
}
.chatTarget-3H6mpC.notFloating-cIl-vp ~ .container-3XgAHv .container-ZMc96U.themed-Hp1KC_::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: -8px;
	width: 8px;
	background: inherit;
	box-shadow: inherit;
	pointer-events: none;
}
.chatTarget-3H6mpC.notFloating-cIl-vp ~ .container-3XgAHv .container-ZMc96U.themed-Hp1KC_::after {
	content: "";
	position: absolute;
	display: block;
	top: 10px;
	bottom: 10px;
	left: -3.5px;
	width: 1px;
	background: var(--background-modifier-accent);
	pointer-events: none;
}

/* Scrollbars */
#autocomplete-popout .scroller::-webkit-scrollbar,
#bda-qem-favourite-container .scroller-wrap .scroller::-webkit-scrollbar,
#bda-qem-twitch-container .scroller-wrap .scroller::-webkit-scrollbar {
  display: none;
}

#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar,
.titleContainer-3fPic2 + .side-2ur1Qk::-webkit-scrollbar {
  width: 5px;
}

#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
#bd-settingspane-container .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  border-radius: 40px;
}

#bda-qem-favourite-container .scroller-wrap .scroller::-webkit-scrollbar-thumb,
#bda-qem-twitch-container .scroller-wrap .scroller::-webkit-scrollbar-thumb {
  border: none !important;
  background-color: rgba(225, 225, 225, 0.2) !important;
  display: initial;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2CvAgC::-webkit-scrollbar-track-piece,
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track,
.sb-menu-scroller:hover::-webkit-scrollbar-track-piece,
.scrollerWrap-2su1QI::-webkit-scrollbar-track-piece,
.scrollerWrap-2su1QI::-webkit-scrollbar-track,
.scroller-2FKFPG::-webkit-scrollbar-track,
.scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scroller-kQBbkU::-webkit-scrollbar-track,
.scroller-kQBbkU::-webkit-scrollbar-track-piece,
.contentRegionScroller-2_GT_N::-webkit-scrollbar-track,
.contentRegionScroller-2_GT_N::-webkit-scrollbar-track-piece,
.scroller-14hecM::-webkit-scrollbar-track,
.scroller-29cQFV::-webkit-scrollbar-track,
.peopleList-2VBrVI::-webkit-scrollbar-track,
.stageSection-3mAD8V .container-24CyRY::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-color: transparent !important;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-thumb, 
.messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-thumb, 
.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb, 
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, 
.scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, 
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-thumb,
.scrollerWrap-2lJEkd .scroller-2CvAgC::-webkit-scrollbar-thumb,
.chat-2ZfjoI .textArea-2Spzkt::-webkit-scrollbar-thumb,
.sb-menu-scroller::-webkit-scrollbar-thumb,
.scroller-kQBbkU::-webkit-scrollbar-thumb,
.contentRegionScroller-2_GT_N::-webkit-scrollbar-thumb,
.titleContainer-3fPic2 + .side-2ur1Qk::-webkit-scrollbar-thumb,
.scroller-14hecM::-webkit-scrollbar-thumb,
.scroller-29cQFV::-webkit-scrollbar-thumb,
.peopleList-2VBrVI::-webkit-scrollbar-thumb,
.stageSection-3mAD8V .container-24CyRY::-webkit-scrollbar-thumb {
  background-color: var(--color-main) !important;
  border-color: transparent !important;
  border-radius: 40px;
}

.scroller-2FKFPG::-webkit-scrollbar-track, 
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  border-radius: 0px;
}

.scroller-wrap .scroller::-webkit-scrollbar,
.stageSection-3mAD8V .container-24CyRY::-webkit-scrollbar {
  width: 11px;
}

.scroller-2FKFPG::-webkit-scrollbar {
  width: 12px;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, 
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  visibility: hidden !important;
  transition: .2s visibility linear;
}

.scroller-wrap .scroller:hover::-webkit-scrollbar-thumb, 
.scroller-wrap .scroller:hover::-webkit-scrollbar-track-piece {
  visibility: visible !important;
}

.rolesList-22qj2L::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

/* Unavailablescreen */

.category-2haXBH,											/* loadingplaceholders										*/
.channelIcon-1TvDoP,
.channelName-2wrHHc {
	background: rgba(var(--transparencycolor), .4);
}
.splashImage-3x240k {										/* screen				image								*/
	opacity: 0.7;
}

/* Update Notice */
html:only-child > head + body div.app-3xd6d0 > div.app-2CXKsg::before {
	content: "Ashuramaru Theme is outdated, please download the latest one." !important;
	display: var(--updatenotice, block) !important;
	background-color: var(--backgroundColor) !important;
	box-shadow: 0 1px 5px 0 rgba(var(--transparencycolor), .3) !important;
	color: var(--color-main) !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	height: 36px !important;
	line-height: 36px !important;
	opacity: 1 !important;
	padding-left: 4px !important;
	padding-right: 28px !important;
	position: relative !important;
	text-align: center !important;
	visibility: unset !important;
	white-space: pre !important;
	top: 0 !important;
	left: 0 !important;
	bottom: unset !important;
	right: unset !important;
	max-width: unset !important;
	min-width: unset !important;
	max-height: unset !important;
	min-height: unset !important;
	transform: unset !important;
	animation: unset !important;
	z-index: 101 !important;
	pointer-events: none !important;
}