body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* BACKGROUND */

.background-image {
	background-image: url("https://raw.githubusercontent.com/Kurou-kun/kurou-kun.github.io/main/website/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	widht: 110%;
	height: 110%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
	left: -5%;
	top: -5%;
	right: -5%;
	z-index: 1;
}

.background {
	width: 1000px;
	height: 800px;
	margin: auto;
	margin-top: 1000px;
	left: 0;
	right: 0;
	z-index: 9999;
	display: block;
	position: fixed;
}

/* HEADER */

.background-header {
	background-color: black;
	opacity: 0.9;
	width: 100%;
	height: 5%;
}

#background-header-logo {
	width: 2.5%;
	height: 65%;
	margin-left: 10px;
	margin-top: 7px;
	float: left;
	pointer-events: none;
}

#background-header-title {
	text-align: center;
	color: red;
	font-family: 'Syne Mono', monospace;
	margin-top: -35px;
	cursor: default;
}

/* BACKGROUND-BODY */

.background-body {
	background-color: black;
	width: 100%;
	height: 80%;
	background-color: rgb(0,0,0,0.6);
}

/* SIDEBAR */

.background-body-sidebar {
	width: 25%;
	height: 95%;
	float: left;
}

.background-body-sidebar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 5%;
}

#sidebar-text {
	font-family: 'Fredoka', sans-serif;
	color: white;
	text-align: right;
	font-size: 40px;
	text-decoration: none;
	float: right;
	background-color: rgb(0,0,0,0.05);
}

#sidebar-text:hover {
	color: red;
}

.background-body-sidebar-empty {
	width: 30%;
	height: 5%;
}

.background-body-sidebar-seperator {
	height: 93%;
	width: 1%;
	background-color: white;
	margin-left: 100%;
	opacity: 0.4;
}

/* CONTENT */

.background-body-content {
	height: 100%;
	width: 74.5%;
	float: right;
	margin-top: -3%;
}

#background-body-content-iframe {
	width: 100%;
	height: 95%;
	border: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

#background-body-content-error-404 {
	color: white;
	font-family: 'Fredoka', sans-serif;
	text-align: center;
	font-size: 100px;
	margin-top: 30%;
	margin-left: -30%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#background-body-content-error-404-description {
	color: white;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-size: 30px;
	margin-top: 10%;
	margin-left: -30%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* FOOTER */

.background-footer {
	background-color: black;
	opacity: 0.6;
	width: 100%;
	height: 3%;
	margin-top: -10px;
}

#background-footer-version {
	text-align: left;
	color: #4a4a4a; /* GREY COLOR */
	font-family: Arial;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 10px;
}

#background-footer-copyright {
	text-align: right;
	color: #4a4a4a; /* GREY COLOR */
	font-family: Arial;
	font-size: 15px;
	margin-top: -25px;
	margin-right: 5px;
}